@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1690px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 1510px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 1330px) {
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 1165px) {
  html {
    font-size: 37.5%;
  }
}
@media (max-width: 980px) {
  html {
    font-size: 31.25%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: unset;
}

li {
  list-style: none;
}

[v-cloak] {
  display: none;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

/*負責navBar顏色配置與轉換*/
.navbgTransp {
  background-color: rgba(255, 255, 255, 0);
}

.itemBlk {
  color: #000;
  transition: color 0.5s ease-out;
}
.itemBlk:hover {
  color: #d9321b;
}

.itemOrg {
  color: #faa619;
  transition: color 0.5s ease-out;
}
.itemOrg:hover {
  color: #d68f13;
}

.navbgBlk {
  background-color: #000;
}

.itemWhite {
  color: #fff;
  transition: color 0.5s ease-out;
}
.itemWhite:hover {
  color: #d9321b;
}

.iconBlk {
  color: #000;
  transition: color 0.5s ease-out;
}
.iconBlk:hover {
  color: #faa619;
  cursor: pointer;
}

.iconWhite {
  color: #fff;
  transition: color 0.5s ease-out;
}
.iconWhite:hover {
  color: #faa619;
  cursor: pointer;
}

/*配置結束*/
.navigate {
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
}
.navigate-logo {
  width: 13.5rem;
  fill: #000;
}
.navigate-logoW {
  width: 13.5rem;
  fill: #fff;
}
.navigate-list {
  display: inline-block;
  font-size: 0;
  margin-left: 10rem;
  padding: 2rem 0;
}
.navigate-item {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}
.navigate-item:not(:last-child) {
  margin-right: 3rem;
}
.navigate-form {
  width: 22rem;
  text-align: right;
  font-size: 2.5rem;
  padding: 1.5rem 0;
}
.navigate-input {
  text-align: left;
  margin-right: 0.5rem;
  border: none;
  height: 3rem;
  padding: 0.5rem;
}
.navigate-input:focus {
  outline: none;
  border-top: 2px solid #fff;
  border-bottom: 3.5px solid #faa619;
}

.title {
  height: 65rem;
  width: 100%;
}
@media (max-width: 1690px) {
  .title {
    height: 50rem;
  }
}
@media (max-width: 980px) {
  .title {
    height: 45rem;
  }
}
.title-bg {
  background: url("https://images.pexels.com/photos/2356059/pexels-photo-2356059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: 50% 30%;
  height: 70rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
@media (max-width: 1690px) {
  .title-bg {
    height: 60rem;
  }
}
.title-content {
  background-color: #fff;
  width: 50%;
  height: 45%;
  padding: 3rem;
  position: relative;
  top: 75%;
  left: 25%;
  text-align: center;
  z-index: 1;
}
@media (max-width: 980px) {
  .title-content {
    width: 70%;
    left: 15%;
  }
}
@media (max-width: 760px) {
  .title-content {
    width: 90%;
    left: 5%;
  }
}
.title-content > p {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.title-heading {
  color: #d9321b;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}
.title-item {
  display: inline;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
}
.title-item:not(:first-of-type)::before {
  content: "/";
  color: #d9321b;
  font-weight: 700;
  margin: 1rem;
}
.title-item > a:hover {
  text-decoration: underline;
}

.dli-search {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
  line-height: 1;
  width: 0.7em;
  height: 0.7em;
  border: 0.1em solid currentColor;
  border-radius: 50%;
  box-sizing: content-box;
  position: relative;
}

.dli-search::before {
  content: "";
  position: absolute;
  top: calc(85.35534% + 0.07071em);
  left: calc(85.35534% + 0.07071em);
  width: 0.336em;
  height: 0.1em;
  background: currentColor;
  border-radius: 0 0.1em 0.1em 0;
  transform: translateY(-50%) rotate(45deg);
  transform-origin: left center;
}

.cetagory {
  margin-top: 15rem;
  padding-left: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media (max-width: 1510px) {
  .cetagory {
    padding-left: 15rem;
  }
}
@media (max-width: 1330px) {
  .cetagory {
    padding-left: 10rem;
  }
}
@media (max-width: 980px) {
  .cetagory {
    flex-wrap: wrap;
    padding-left: 5rem;
  }
}
.cetagory > a:not(:last-child) {
  margin-right: 4rem;
}
@media (max-width: 980px) {
  .cetagory > a:not(:last-child) {
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
}
@media (max-width: 760px) {
  .cetagory > a {
    width: calc(50% - 4.5rem);
  }
}
.cetagory > a:hover > .cetagory-box {
  color: #d9321b;
  border: 1.35px solid #d9321b;
}
.cetagory > a:hover > .cetagory-box > img {
  filter: grayscale(0);
}
.cetagory-box {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 5rem;
  border: 1.35px solid #c9c9c9;
  transition: color 0.5s ease, border 0.5s ease;
}
.cetagory-box > img {
  width: 8rem;
  filter: grayscale(100%);
  transition: all 0.5s ease-out;
}
@media (max-width: 980px) {
  .cetagory-box > img {
    width: 15rem;
  }
}
.cetagory-box > p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1px;
}
@media (max-width: 980px) {
  .cetagory-box > p {
    font-size: 2.5rem;
  }
}

.section-stuff {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 20rem;
}
@media (max-width: 1690px) {
  .section-stuff {
    margin: 5rem 15rem;
  }
}
@media (max-width: 1510px) {
  .section-stuff {
    margin: 5rem 10rem;
  }
}
@media (max-width: 1330px) {
  .section-stuff {
    margin: 5rem 5rem;
  }
}
@media (max-width: 980px) {
  .section-stuff {
    margin: 5rem 3rem;
  }
}
@media (max-width: 760px) {
  .section-stuff {
    margin: 5rem 2rem;
  }
}
.section-stuff-box {
  margin: 2rem 2rem;
  width: calc(25% - 4rem);
  height: auto;
}
@media (max-width: 980px) {
  .section-stuff-box {
    width: calc(33.3333333333% - 4rem);
  }
}
@media (max-width: 760px) {
  .section-stuff-box {
    width: calc(50% - 4rem);
  }
}
.section-stuff-box:hover {
  box-shadow: 0 0.5rem 20px 0.5rem rgba(231, 231, 231, 0.1), 0 0.3rem 20px 0.25rem rgba(136, 136, 136, 0.15);
}
.section-stuff-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
@media (max-width: 980px) {
  .section-stuff-content {
    padding: 4rem;
  }
}
.section-stuff-content > img {
  width: 75%;
  margin-bottom: 0.5rem;
}
.section-stuff-content > p {
  font-size: 1.3rem;
  line-height: 1.5;
}
.section-stuff-heading {
  align-self: flex-start;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 1rem 0;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5rem 0;
  border-top: 1px solid #c9c9c9;
}
@media (max-width: 1330px) {
  .footer-box {
    padding: 5rem 10rem;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
@media (max-width: 980px) {
  .footer-box {
    padding: 8rem 20rem;
    justify-content: center;
  }
}
@media (max-width: 760px) {
  .footer-box {
    justify-content: flex-start;
  }
}
.footer-box-lists {
  display: inline-block;
  margin-right: 25rem;
  font-size: 1.3rem;
}
.footer-box-lists h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}
@media (max-width: 1330px) {
  .footer-box-lists {
    margin-right: 20rem;
  }
}
@media (max-width: 1165px) {
  .footer-box-lists {
    margin-right: 15rem;
  }
}
@media (max-width: 980px) {
  .footer-box-lists {
    margin-right: 0;
    margin-bottom: 10rem;
  }
  .footer-box-lists:nth-of-type(1) {
    margin-right: 15%;
  }
}
.footer-box-lists li:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 980px) {
  .footer-box-lists li:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.footer-box-lists a:hover {
  text-decoration: underline;
}
.footer-box-form {
  display: inline-block;
  font-size: 1.3rem;
  width: 50rem;
}
.footer-box-form h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}
@media (max-width: 1165px) {
  .footer-box-form {
    width: 55rem;
  }
}
@media (max-width: 980px) {
  .footer-box-form {
    width: 80rem;
  }
}
.footer-box-form--content {
  margin-top: 2rem;
  position: relative;
}
.footer-box-form--content a:hover {
  text-decoration: underline;
}
.footer-box-form--email {
  height: 5rem;
  width: 40rem;
  padding: 2rem;
  border: none;
  background-color: #f1f1f1;
}
.footer-box-form--email:focus {
  outline: none;
  border-bottom: 3.5px solid #faa619;
}
@media (max-width: 1690px) {
  .footer-box-form--email {
    height: 5.2rem;
  }
}
@media (max-width: 1510px) {
  .footer-box-form--email {
    height: 5.5rem;
  }
}
@media (max-width: 1330px) {
  .footer-box-form--email {
    height: 5.8rem;
  }
}
@media (max-width: 1165px) {
  .footer-box-form--email {
    height: 6.2rem;
  }
}
@media (max-width: 980px) {
  .footer-box-form--email {
    width: 70rem;
    height: 6.9rem;
  }
}
.footer-box-form--button {
  position: absolute;
  right: 0;
  font-weight: 700;
  padding: 1.55rem;
  color: #faa619;
  border: 2px solid #faa619;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.footer-box-form--button:hover {
  color: #000;
  background-color: #faa619;
}
.footer-box-form--checkbox {
  display: inline-block;
  position: relative;
  margin-right: 1.5rem;
  cursor: pointer;
  visibility: hidden;
}
.footer-box-form--checkbox::after {
  content: "";
  position: absolute;
  top: -1px;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  z-index: 3;
  visibility: visible;
  border: 1px solid #c9c9c9;
}
@media (max-width: 1330px) {
  .footer-box-form--checkbox::after {
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media (max-width: 980px) {
  .footer-box-form--checkbox::after {
    height: 3rem;
    width: 3rem;
  }
}
.footer-box-form--checkbox:hover::after {
  border: 1px solid #faa619;
}
.footer-box-form--checkbox:checked::after {
  content: "";
  position: absolute;
  top: -1px;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  z-index: 3;
  visibility: visible;
  border: 1px solid #faa619;
}
@media (max-width: 1330px) {
  .footer-box-form--checkbox:checked::after {
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media (max-width: 980px) {
  .footer-box-form--checkbox:checked::after {
    height: 3rem;
    width: 3rem;
  }
}
.footer-box-form--checkbox:checked + .material-icons.style {
  visibility: visible;
}
.footer-box-form .material-icons.style {
  position: absolute;
  left: 1px;
  font-size: 1.8rem;
  color: #faa619;
  z-index: 1;
  visibility: hidden;
}
@media (max-width: 1330px) {
  .footer-box-form .material-icons.style {
    font-size: 2.2rem;
  }
}
@media (max-width: 980px) {
  .footer-box-form .material-icons.style {
    font-size: 2.8rem;
  }
}
.footer-bottom {
  height: 12rem;
  padding: 2rem 20rem;
  background-color: #000;
}
@media (max-width: 1330px) {
  .footer-bottom {
    padding: 2rem 10rem;
  }
}
@media (max-width: 760px) {
  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 10rem;
    height: 25rem;
  }
}
.footer-bottom--logo {
  float: right;
  fill: #fff;
  width: 17rem;
  height: 8rem;
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter 0.5s;
}
.footer-bottom--logo:hover {
  filter: grayscale(0);
}
@media (max-width: 980px) {
  .footer-bottom--logo {
    width: 19rem;
    height: 10rem;
  }
}
@media (max-width: 760px) {
  .footer-bottom--logo {
    width: 25rem;
    margin-bottom: 2rem;
  }
}
.footer-bottom--copy {
  display: inline-block;
  height: 8rem;
  padding: 3.2rem 0;
  font-size: 1.3rem;
  font-weight: 500;
  color: #c9c9c9;
}
.footer-bottom--copy > a {
  padding-left: 3rem;
  color: #faa619;
  transition: color 0.3s;
}
.footer-bottom--copy > a:hover {
  color: #fff;
}
@media (max-width: 980px) {
  .footer-bottom--copy {
    padding: 2.5rem 0;
  }
}
@media (max-width: 760px) {
  .footer-bottom--copy {
    height: 7rem;
    padding: 2rem 0;
  }
}/*# sourceMappingURL=main.css.map */