*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: unset;
}

li {
  list-style: none;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.navigate {
  padding: 0 1em 0 2em;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.navigate-logo {
  width: 13.5rem;
  fill: #000;
}
.navigate-list {
  display: inline-block;
  font-size: 0;
  padding: 2rem 0;
}
.navigate-item {
  display: inline-block;
  color: #FAA619;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  transition: all 0.5s ease-out;
}
.navigate-item:hover {
  color: #d68f13;
}
.navigate-item:not(:last-child) {
  color: #000;
  margin-right: 3rem;
}
.navigate-item:not(:last-child):hover {
  color: #D9321B;
}

.title {
  background: url("https://images.pexels.com/photos/2356059/pexels-photo-2356059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: 50% 27%;
  height: 50rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.title-content {
  background-color: #fff;
  width: 50%;
  height: 50%;
  padding: 3rem;
  position: relative;
  top: 75%;
  left: 25%;
  text-align: center;
  z-index: 1;
}
.title-content > p {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.title-heading {
  color: #D9321B;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}
.title-item {
  display: inline;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
}
.title-item:not(:first-of-type)::before {
  content: "/";
  color: #D9321B;
  font-weight: 700;
  margin: 1rem;
}
.title-item > a:hover {
  text-decoration: underline;
}

.cetagory {
  margin-top: 55rem;
  padding-left: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cetagory > a:not(:last-child) {
  margin-right: 4rem;
}
.cetagory > a:hover > .cetagory-box {
  color: #D9321B;
  border: 1.35px solid #D9321B;
}
.cetagory > a:hover > .cetagory-box > img {
  filter: grayscale(0);
}
.cetagory-box {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 5rem;
  border: 1.35px solid #c9c9c9;
  transition: color 0.5s ease, border 0.5s ease;
}
.cetagory-box > img {
  width: 8rem;
  filter: grayscale(100%);
  transition: all 0.5s ease-out;
}
.cetagory-box > p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.section-stuff {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 8rem;
}
.section-stuff-box {
  margin: 2rem 4.25rem;
}
.section-stuff-box:hover {
  box-shadow: 0 0.5rem 20px 0.5rem rgba(231, 231, 231, 0.1), 0 0.3rem 20px 0.25rem rgba(136, 136, 136, 0.15);
}
.section-stuff-content {
  width: 35rem;
  height: auto;
  padding: 3rem;
}
.section-stuff-content > img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}
.section-stuff-content > p {
  font-size: 1.6rem;
}
.section-stuff-heading {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0.5rem 0;
}/*# sourceMappingURL=main.css.map */