@mixin footerH3 {
	h3 {
		font-size: $fontSize-small;
		font-weight: 700;
		margin-bottom: 1.5rem;
		letter-spacing: 2px;

		@include respon(middle) {
			font-size: $fontSize-default;
		}
	}
}

.footer {
	&-box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		padding: 5rem 0;
		border-top: 1px solid $colorGry;

		@include respon(middle) {
			padding: 5rem 10rem;
		}

		&-lists {
			display: inline-block;
			margin-right: 25rem;
			font-size: $fontSize-small;
			@include footerH3;

			@include respon(large) {
				margin-right: 15rem;
			}
			@include respon(middle) {
				margin-right: 10rem;
				margin-bottom: 5rem;
				font-size: $fontSize-default;
			}
			@include respon(small) {
				margin-right: 0;
				margin-bottom: 5rem;
				&:nth-of-type(1) {
					margin-right: 15%;
				}
			}

			li:not(:last-child) {
				margin-bottom: 1rem;
				@include respon(middle) {
					margin-bottom: 2rem;
				}
			}

			a:hover {
				text-decoration: underline;
			}
		}

		&-form {
			display: inline-block;
			font-size: $fontSize-small;
			width: 50rem;
			@include footerH3;

			@include respon(middle) {
				font-size: $fontSize-default;
			}

			&--content {
				margin-top: 2rem;
				position: relative;

				a:hover {
					text-decoration: underline;
				}
			}

			&--email {
				height: 5rem;
				width: 40rem;
				padding: 2rem;
				border: none;
				border-radius: 0;
				background-color: #f1f1f1;

				&:focus {
					outline: none;
					border-bottom: 3.5px solid $colorOrg;
				}

				@include respon(large) {
					height: 5.2rem;
				}
				@include respon(middle) {
					height: 5.4rem;
					font-size: $fontSize-default;
				}
				@include respon(small) {
					height: 5.6rem;
					font-size: 2rem;
				}
			}

			&--button {
				position: absolute;
				right: 0;
				font-weight: 700;
				padding: 1.55rem;
				color: $colorOrg;
				border: 2px solid $colorOrg;
				background-color: $colorWhite;
				cursor: pointer;
				transition: all 0.5s;

				@include respon(middle) {
					font-size: $fontSize-default;
				}

				&:hover {
					color: $colorBlack;
					background-color: $colorOrg;
				}
			}

			&--checkbox {
				display: none;

				&:checked + label .material-icons.style {
					opacity: 1;
				}
				&:checked + label .footer-box-form--checklabel-border {
					border: 1px solid $colorOrg;
				}
			}

			&--checklabel {
				position: relative;
				padding-left: 2.5rem;

				&-border {
					display: inline-block;
					position: absolute;
					left: 0;
					top: -0.2rem;
					height: 1.9rem;
					width: 1.9rem;
					border: 1px solid $colorGry;
					background-color: transparent;
					cursor: pointer;
					margin-right: 1rem;

					&:hover {
						border: 1px solid $colorOrg;
					}

					.material-icons.style {
						position: absolute;
						font-size: 1.8rem;
						color: $colorOrg;
						z-index: 1;
						opacity: 0;
					}
				}
			}
		}
	}

	&-bottom {
		height: 12rem;
		padding: 2rem 20rem;
		background-color: $colorBlack;

		@include respon(middle) {
			padding: 2rem 10rem;
		}
		@include respon(small) {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 3rem 10rem;
			height: 25rem;
		}

		&--logo {
			float: right;
			fill: $colorWhite;
			width: 17rem;
			height: 8rem;
			cursor: pointer;
			filter: grayscale(100%);
			transition: filter 0.5s;

			&:hover {
				filter: grayscale(0);
			}

			@include respon(small) {
				width: 20rem;
				margin-bottom: 2rem;
			}
		}

		&--copy {
			display: inline-block;
			height: 8rem;
			padding: 3.2rem 0;
			font-size: $fontSize-small;
			font-weight: 500;
			color: $colorGry;

			> a {
				padding-left: 3rem;
				color: $colorOrg;
				transition: color 0.3s;

				&:hover {
					color: $colorWhite;
				}
			}

			@include respon(middle) {
				font-size: $fontSize-default;
			}
			@include respon(small) {
				height: 7rem;
				padding: 2rem 0;
				font-size: 2rem;
			}
		}
	}
}
