@mixin footerH3 {
	h3 {
		font-size: $fontSize-small;
		font-weight: 700;
		margin-bottom: 1.5rem;
		letter-spacing: 2px;
	}
}

@mixin checkboxPos {
	content: '';
	position: absolute;
	top: -1px;
	height: 2rem;
	width: 2rem;
	background-color: transparent;
	z-index: 3;
	visibility: visible;

	@include respon(middle) {
		height: 2.5rem;
		width: 2.5rem;
	}
	@include respon(exsmall) {
		height: 3rem;
		width: 3rem;
	}
}

.footer {
	&-box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5rem 0;
		border-top: 1px solid $colorGry;

		@include respon(middle) {
			padding: 5rem 10rem;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		@include respon(exsmall) {
			padding: 8rem 20rem;
			justify-content: center;
		}
		@include respon(phone) {
			justify-content: flex-start;
		}

		&-lists {
			display: inline-block;
			margin-right: 25rem;
			font-size: $fontSize-small;
			@include footerH3;

			@include respon(middle) {
				margin-right: 20rem;
			}
			@include respon(small) {
				margin-right: 15rem;
			}
			@include respon(exsmall) {
				margin-right: 0;
				margin-bottom: 10rem;
				&:nth-of-type(1) {
					margin-right: 15%;
				}
			}

			li:not(:last-child) {
				margin-bottom: 1rem;
				@include respon(exsmall) {
					margin-bottom: 2rem;
				}
			}

			a:hover {
				text-decoration: underline;
			}
		}

		&-form {
			display: inline-block;
			font-size: $fontSize-small;
			width: 50rem;
			@include footerH3;

			@include respon(small) {
				width: 55rem;
			}
			@include respon(exsmall) {
				width: 80rem;
			}

			&--content {
				margin-top: 2rem;
				position: relative;

				a:hover {
					text-decoration: underline;
				}
			}

			&--email {
				height: 5rem;
				width: 40rem;
				padding: 2rem;
				border: none;
				background-color: #f1f1f1;

				&:focus {
					outline: none;
					border-bottom: 3.5px solid $colorOrg;
				}

				@include respon(large) {
					height: 5.2rem;
				}
				@include respon(big) {
					height: 5.5rem;
				}
				@include respon(middle) {
					height: 5.8rem;
				}
				@include respon(small) {
					height: 6.2rem;
				}
				@include respon(exsmall) {
					width: 70rem;
					height: 6.9rem;
				}
			}

			&--button {
				position: absolute;
				right: 0;
				font-weight: 700;
				padding: 1.55rem;
				color: $colorOrg;
				border: 2px solid $colorOrg;
				background-color: $colorWhite;
				cursor: pointer;
				transition: all 0.5s;

				&:hover {
					color: $colorBlack;
					background-color: $colorOrg;
				}
			}

			&--checkbox {
				display: inline-block;
				position: relative;
				margin-right: 1.5rem;
				cursor: pointer;
				visibility: hidden;

				&::after {
					@include checkboxPos;
					border: 1px solid $colorGry;
				}
				&:hover::after {
					border: 1px solid $colorOrg;
				}
				&:checked::after {
					@include checkboxPos;
					border: 1px solid $colorOrg;
				}
				&:checked + .material-icons.style {
					visibility: visible;
				}
			}

			.material-icons.style {
				position: absolute;
				left: 1px;
				font-size: 1.8rem;
				color: $colorOrg;
				z-index: 1;
				visibility: hidden;

				@include respon(middle) {
					font-size: 2.2rem;
				}
				@include respon(exsmall) {
					font-size: 2.8rem;
				}
			}
		}
	}

	&-bottom {
		height: 12rem;
		padding: 2rem 20rem;
		background-color: $colorBlack;

		@include respon(middle) {
			padding: 2rem 10rem;
		}
		@include respon(phone) {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 3rem 10rem;
			height: 25rem;
		}

		&--logo {
			float: right;
			fill: $colorWhite;
			width: 17rem;
			height: 8rem;
			cursor: pointer;
			filter: grayscale(100%);
			transition: filter 0.5s;

			&:hover {
				filter: grayscale(0);
			}

			@include respon(exsmall) {
				width: 19rem;
				height: 10rem;
			}
			@include respon(phone) {
				width: 25rem;
				margin-bottom: 2rem;
			}
		}

		&--copy {
			display: inline-block;
			height: 8rem;
			padding: 3.2rem 0;
			font-size: $fontSize-small;
			font-weight: 500;
			color: $colorGry;

			> a {
				padding-left: 3rem;
				color: $colorOrg;
				transition: color 0.3s;

				&:hover {
					color: $colorWhite;
				}
			}
			@include respon(exsmall) {
				padding: 2.5rem 0;
			}
			@include respon(phone) {
				height: 7rem;
				padding: 2rem 0;
			}
		}
	}
}
