.header {
	position: sticky;
	top: 0;
	z-index: 5;
}

/*負責navBar顏色配置與轉換*/
.navbgTransp {
	background-color: rgba(255, 255, 255, 0);
}

.itemBlk {
	color: $colorBlack;
	transition: color 0.5s ease-out;
	&:hover {
		color: $colorRed-light;
	}
}

.itemOrg {
	color: $colorOrg;
	transition: color 0.5s ease-out;
	&:hover {
		color: $colorOrg-dark;
	}
}

.navbgBlk {
	background-color: $colorBlack;
}

.itemWhite {
	color: $colorWhite;
	transition: color 0.5s ease-out;
	&:hover {
		color: $colorRed-light;
	}
}

.iconBlk {
	color: $colorBlack;
	transition: color 0.5s ease-out;
	&:hover {
		color: $colorOrg;
		cursor: pointer;
	}
}

.iconWhite {
	color: $colorWhite;
	transition: color 0.5s ease-out;
	&:hover {
		color: $colorOrg;
		cursor: pointer;
	}
}

/*配置結束*/

.navigate {
	padding: 0 4rem;
	display: flex;
	justify-content: space-between;

	&-logo {
		width: 13.5rem;
		fill: $colorBlack;
	}

	&-logoW {
		width: 13.5rem;
		fill: $colorWhite;
	}

	&-list {
		display: inline-block;
		font-size: 0;
		margin-left: 10rem;
		padding: 2rem 0;

		@include respon(middle) {
			margin-left: 5rem;
		}
		@include respon(small) {
			margin-left: 2rem;
		}
	}

	&-item {
		display: inline-block;
		font-size: $fontSize-default;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 3px;

		&:not(:last-child) {
			margin-right: 3rem;

			@include respon(small) {
				margin-right: 1rem;
			}
		}
	}
	/* https://design-library.jp/lab/icons-menu */
	.dli-menu {
		display: inline-block;
		vertical-align: middle;
		color: #333;
		line-height: 1;
		width: 1em;
		> span {
			display: block;
			height: 0.1em;
			background: currentColor;
			border-radius: 0.1em;
		}
		> span + span {
			margin-top: 0.22em;
		}
	}

	&-form {
		width: 22rem;
		text-align: right;
		font-size: 2.5rem;
		padding: 1.5rem 0;
	}

	&-input {
		text-align: left;
		margin-right: 0.5rem;
		border: none;
		height: 3rem;
		padding: 0.5rem;

		&:focus {
			outline: none;
			border-top: 2px solid $colorWhite;
			border-bottom: 3.5px solid $colorOrg;
		}
	}
}

.title {
	height: 65rem;
	width: 100%;
	@include respon(large) {
		height: 50rem;
	}
	@include respon(middle) {
		height: 40rem;
	}
	@include respon(small) {
		height: 30rem;
	}

	&-bg {
		background: url('https://images.pexels.com/photos/2356059/pexels-photo-2356059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
		background-size: cover;
		background-position: 50% 30%;
		height: 70rem;
		width: 100%;
		position: absolute;
		top: 0;
		z-index: -1;

		@include respon(large) {
			height: 60rem;
		}
		@include respon(middle) {
			height: 50rem;
		}
		@include respon(small) {
			height: 40rem;
		}
	}

	&-content {
		background-color: $colorWhite;
		width: 50%;
		height: 45%;
		padding: 3rem;
		position: relative;
		top: 75%;
		left: 25%;
		text-align: center;
		z-index: 1;

		@include respon(small) {
			width: 80%;
			left: 10%;
		}
		// @include respon(phone) {
		// 	width: 90%;
		// 	left: 5%;
		// }

		> p {
			margin-top: 2rem;
			font-size: 2rem;
			font-weight: 600;
			letter-spacing: 1px;
		}
	}

	&-heading {
		color: $colorRed-light;
		font-weight: 700;
		font-size: 5rem;
		letter-spacing: 1px;
		margin-bottom: 1.5rem;
	}

	&-item {
		display: inline;
		font-size: $fontSize-default;
		font-weight: 400;
		color: $colorBlack;

		&:not(:first-of-type)::before {
			content: '/';
			color: $colorRed-light;
			font-weight: 700;
			margin: 1rem;
		}

		> a:hover {
			text-decoration: underline;
		}
	}
}

//https://design-library.jp/lab/icons-search 放大鏡icon

.dli-search {
	display: inline-block;
	margin-right: 1rem;
	vertical-align: middle;
	line-height: 1;
	width: 0.7em;
	height: 0.7em;
	border: 0.1em solid currentColor;
	border-radius: 50%;
	box-sizing: content-box;
	position: relative;
}

.dli-search::before {
	content: '';
	position: absolute;
	top: calc(85.35534% + 0.07071em);
	left: calc(85.35534% + 0.07071em);
	width: 0.336em;
	height: 0.1em;
	background: currentColor;
	border-radius: 0 0.1em 0.1em 0;
	transform: translateY(-50%) rotate(45deg);
	transform-origin: left center;
}
