.header {
	position: sticky;
	top: 0;
	z-index: 5;
}

/*負責navBar顏色配置與轉換*/
.navbgTransp {
	background-color: transparent;
}

.itemBlk {
	color: $colorBlack;
	transition: color 0.5s ease-out;
	&:hover {
		color: $colorRed-light;
	}
}

.itemOrg {
	color: $colorOrg;
	transition: color 0.5s ease-out;
	&:hover {
		color: $colorOrg-dark;
	}
}

.navbgBlk {
	background-color: $colorBlack;
}

.itemWhite {
	color: $colorWhite;
	transition: color 0.5s ease-out;
	&:hover {
		color: $colorRed-light;
	}
}

/*配置結束*/

.navigate {
	padding: 0 1em 0 2em;

	display: flex;
	justify-content: space-between;

	&-logo {
		width: 13.5rem;
		fill: $colorBlack;
	}

	&-logoW {
		width: 13.5rem;
		fill: $colorWhite;
	}

	&-list {
		display: inline-block;
		font-size: 0;
		padding: 2rem 0;
	}

	&-item {
		display: inline-block;
		font-size: $fontSize-default;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 3px;

		&:not(:last-child) {
			margin-right: 3rem;
		}
	}
}

.title {
	height: 65rem;
	width: 100%;

	&-bg {
		background: url('https://images.pexels.com/photos/2356059/pexels-photo-2356059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
		background-size: cover;
		background-position: 50% 30%;
		height: 70rem;
		width: 100%;
		position: absolute;
		top: 0;
		z-index: -1;
	}

	&-content {
		background-color: $colorWhite;
		width: 50%;
		height: 45%;
		padding: 3rem;
		position: relative;
		top: 75%;
		left: 25%;
		text-align: center;
		z-index: 1;

		> p {
			margin-top: 2rem;
			font-size: 2rem;
			font-weight: 600;
			letter-spacing: 1px;
		}
	}

	&-heading {
		color: $colorRed-light;
		font-weight: 700;
		font-size: 5rem;
		letter-spacing: 1px;
		margin-bottom: 1.5rem;
	}

	&-item {
		display: inline;
		font-size: $fontSize-default;
		font-weight: 400;
		color: $colorBlack;

		&:not(:first-of-type)::before {
			content: '/';
			color: $colorRed-light;
			font-weight: 700;
			margin: 1rem;
		}

		> a:hover {
			text-decoration: underline;
		}
	}
}
