.header {
    position: sticky;
    top: 0;
    z-index: 5;
}

.navigate {
	padding: 0 1em 0 2em;
	background-color: transparent;
	display: flex;
	justify-content: space-between;

    &-logo {
        width:13.5rem;
	    fill: $colorBlack;
    }

    &-list {
        display: inline-block;
        font-size: 0;
        padding: 2rem 0;
    }

    &-item {
        display: inline-block;
        color: $colorOrg;
        font-size: $fontSize-default;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        transition: all .5s ease-out;

        &:hover {
            color: $colorOrg-dark;
        }
        
        &:not(:last-child) {
            color: $colorBlack;
            margin-right: 3rem;
        }

        &:not(:last-child):hover {
            color: $colorRed-light;
        }
    }
}

.title {
    background: url("https://images.pexels.com/photos/2356059/pexels-photo-2356059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") ;
	background-size: cover;
	background-position: 50% 27%;
	height: 50rem;
    width: 100%;
    position: absolute;
    top: 0;
	z-index: -1;

    &-content {
        background-color: $colorWhite;
	    width: 50%;
        height: 50%;
	    padding: 3rem;
	    position: relative;
        top: 75%;
        left: 25%;
	    text-align:center;
	    z-index: 1;

        > p {
            margin-top: 2rem;
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }

    &-heading {
        color: $colorRed-light;
	    font-weight: 700;
	    font-size: 5rem;
	    letter-spacing: 1px;
	    margin-bottom: 1.5rem;
    }

    &-item {
        display: inline;
        font-size: $fontSize-default;
	    font-weight: 400;
	    color: $colorBlack;
        
        &:not(:first-of-type)::before{
            content: "/";
            color: $colorRed-light;
            font-weight: 700;
            margin: 1rem;
        }

        > a:hover {
            text-decoration: underline;
        }

    }
    
}