.navigate {
	padding: 0 1em 0 2em;
	background-color: $colorBlack;
	display: flex;
	justify-content: space-between;

    &-logo {
        width:13.5rem;
	    fill: $colorWhite;
    }

    > nav {
        display: inline-block;
        padding: 2rem 0;
    }

    &-items {
        font-size: $fontSize-default;
        color: $colorWhite;
	    transition: color .5s ease;

        &:hover {
            color: $colorRed;
        }
    }
}