.section-stuff {
	display: flex;
	flex-wrap: wrap;
	margin: 5rem 20rem;

	@include respon(large) {
		margin: 5rem 15rem;
	}
	@include respon(big) {
		margin: 5rem 10rem;
	}
	@include respon(middle) {
		margin: 5rem 5rem;
	}
	@include respon(exsmall) {
		margin: 5rem 3rem;
	}
	@include respon(phone) {
		margin: 5rem 2rem;
	}

	&-box {
		margin: 2rem 2rem;
		width: calc(100% / 4 - 4rem);
		height: auto;

		@include respon(exsmall) {
			width: calc(100% / 3 - 4rem);
		}
		@include respon(phone) {
			width: calc(100% / 2 - 4rem);
		}
		&:hover {
			box-shadow: 0 0.5rem 20px 0.5rem $colorShadow-1, 0 0.3rem 20px 0.25rem $colorShadow-2;
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 3rem;

		@include respon(exsmall) {
			padding: 4rem;
		}

		> img {
			width: 75%;
			margin-bottom: 0.5rem;
		}

		> p {
			font-size: $fontSize-small;
			line-height: 1.5;
		}
	}

	&-heading {
		align-self: flex-start;
		font-size: $fontSize-default;
		font-weight: 700;
		letter-spacing: 1px;
		margin: 1rem 0;
	}
}
