$colorWhite: #fff;
$colorBlack: #000;
$colorRed: red;
$colorRed-light: #D9321B;
$colorOrg: #FAA619;
$colorOrg-dark: #d68f13;
$colorGry: #c9c9c9;
$colorShadow-1: rgba(231, 231, 231, 0.1);
$colorShadow-2: rgba(136, 136, 136, 0.15);

$fontSize-default: 1.6rem;